@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Parisienne&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../assets/img/bg-pink.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-gaya {
  font-family: 'Parisienne', cursive;
}

.font-formal {
  font-family: 'Alegreya', serif;
}

.font-condensed {
  font-family: 'Barlow Condensed', sans-serif;
}

.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.section1 {
  background-image: url('https://res.cloudinary.com/rizkianakbar/image/upload/v1653203393/NSYT1885_1_esftsl.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.section0 {
  background-image: url('../assets/img/bg-pink.jpg');

  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-top: -2px;
}

.section2 {
  background-color: #676f74;

  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-top: -2px;
}

.section3 {
  background-image: url('https://res.cloudinary.com/rizkianakbar/image/upload/v1653204477/NSYT3056_1_2_t9el49.jpg');
  background-size: cover;
  /* position bottom */
  background-position: bottom;

  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.section4 {
  background-color: #676f74;
  background-size: cover;
  /* position bottom */
  background-position: center;

  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-top: -2px;
}

.section5 {
  background-color: #676f74;
  background-size: cover;
  /* position bottom */
  background-position: center;

  min-height: 100vh;
  margin: 0;
  margin-top: -2px;
  padding: 0;
}

.section6 {
  background-image: url('../assets/img/bg-pink2.svg');
  background-size: cover;
  /* position bottom */
  background-position: center;

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.section7 {
  background-image: url('../assets/img/bg-gray2.svg');
  background-size: cover;
  /* position bottom */
  background-position: center;

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.background-pink {
  background-image: url('../assets/img/bg-pink.jpg');
  background-size: cover;
  background-position: center;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.text-shadow-soft {
  text-shadow: 5px 5px 10px #000000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}
/* arrow slide */

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '>';
  font-size: 30px !important;
  color: pink !important;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.bg-transparent-soft {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.input {
  border: none;
  outline: none;
}

.input::placeholder {
  color: #e2c6c6;
  font-size: 15px;
}
