@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Parisienne&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-gaya {
  font-family: 'Parisienne', cursive;
}

.font-formal {
  font-family: 'Alegreya', serif;
}

.section1 {
  background-image: url('https://res.cloudinary.com/rizkianakbar/image/upload/v1653034166/foto-1-min_1_hvxfir.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
